@model DateViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Sea Battles</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid" style="margin-top:50px">
        <div class="row">
            <div class="col-lg-5 battlefield battlefield__self battlefield__wait">
                <div class="battlefield-gap">
                    <table class="battlefield-table" style="margin-left:105px;float:left">
                        <tbody>

                            @for (int i = 0; i < GameCore.Field.Size; i++)
                            {
                                <tr class="battlefield-row">
                                    @for (int j = 0; j < GameCore.Field.Size; j++)
                                    {
                                        if (Model.fieldPlayer[i, j] == 0)
                                        {
                                            <td class="battlefield-cell battlefield-cell__empty">
                                                <div class="battlefield-cell-content" data-y="@i" data-x="@j"></div>
                                            </td>
                                        }
                                        else if (Model.fieldPlayer[i, j] == 1)
                                        {
                                            <td class="battlefield-cell battlefield-cell__busy">
                                                <div class="battlefield-cell-content" data-y="@i" data-x="@j">
                                                </div>
                                            </td>
                                        }
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="battlefield-start" style="right:-50%">
                        <div class="battlefield-start-choose_rival-label text-info">SeaBattle</div>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 battlefield battlefield__rival battlefield__wait" id="enemy">
                <div class="battlefield-gap">
                    <table class="battlefield-table" style="margin-right:105px;float:right">
                        <tbody>
                            @for (int i = 0; i < GameCore.Field.Size; i++)
                            {
                                <tr class="battlefield-row">
                                    @for (int j = 0; j < GameCore.Field.Size; j++)
                                    {

                                        <td class="battlefield-cell battlefield-cell__empty">
                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j"></div>
                                        </td>

                                    }
                                </tr>
                            }
                        </tbody>

                    </table>
                    <div class="battlefield-start">
                        <div class="battlefield-start-choose_rival-label"><input type="text" readonly id="connectionIDtxt" class="form-control" onclick="this.select();" style="width:75%" /></div><br />
                        <div class="battlefield-start-choose_rival-label"><input type="button" value="Play" id="connectBtn" class="btn" /></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script>
    //Connect hub (SIGNALR Core....)
        //TODO CHANGE ALL JS SHITS IN JQUERY
        var _connectionId;
        function ReadyStart(Yes) {
            if (Yes) {
                $(".battlefield-start").addClass("none");
                $(".battlefield__rival").removeClass("battlefield__wait").addClass("battlefield__start");
            } else {
                $(".battlefield-start").removeClass("none");
                $(".battlefield__rival").addClass("battlefield__wait").removeClass("battlefield__start");
            }
        }
        function YourTurn(Yes) {
            if (Yes) {
                $(".battlefield__self").addClass("battlefield__wait");
                $(".battlefield__rival").removeClass("battlefield__wait");
            } else {
                $(".battlefield__self").removeClass("battlefield__wait");
                $(".battlefield__rival").addClass("battlefield__wait");
            }
        }
        function GetField() {//RETURN FIELD FOR SIGNAL R
            var arr = [];
            @for (int i = 0; i < GameCore.Field.Size; i++) {
                <text> var row = [];</text>
                @for (int j = 0; j < GameCore.Field.Size; j++) {
                    <text>
                    var value = @Model.fieldPlayer[i,j];
                    row.push(value);
                    </text>
                }
                <text>arr.push(row);</text>
            }
            return arr;
        }
        $(".battlefield__rival tr td.battlefield-cell__empty").click(function (e) {
            newValue = 0;
            let currentElement = $(this);
            let x = currentElement.children().data("x");
            let y = currentElement.children().data("y");
            console.log(x, y);
            hubConnection.invoke("SendCordinateEnemy", x, y, _connectionId);//GetValue

            //setTimeout(SetStatusColor, 100, currentElement);
        });
        function SetStatusColor(currentElement,value) {
            switch (value) {
                case 2:
                    currentElement.removeClass("battlefield-cell__empty").removeClass("battlefield-cell__busy").addClass("battlefield-cell__shoot");
                    break;
                case -1:
                    currentElement.removeClass("battlefield-cell__empty").removeClass("battlefield-cell__busy").addClass("battlefield-cell__missed");
                    break;
                default:
            }
            currentElement.attr("disabled", "disabled").off('click');
        }
        function changeurl(connectionID) {
            var new_url = "?id=" + connectionID;
            window.history.pushState("data", "Title", new_url);
            return window.location.href;
        }

        function getRandomConnectionID() {
            return Math.floor(Math.random() * 88888888) + 10000000;//get random connectionID 10000000-99999999
        }
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/seabattle")
            .build();


        hubConnection.on("Notify", function (message) {
            console.log(message);
        });
        //TODO FIX
        hubConnection.on("SendRequestTakeValue", function (x, y, connectionId) {

            var items = GetField();//items->return Field(matrix[10,10])
            console.log("SendRequestTakeValue");
            hubConnection.invoke("SendStatus", items, x, y, connectionId);//Convert JSON ->
        });
        hubConnection.on("TakeStatus", function (_newField,currentTurn) {
            let field = JSON.parse(_newField);//Get array[,]
            for (var i = 0; i < 10; i++) {
                for (var j = 0; j < 10; j++) {
                    if (field[i][j] == -1 || field[i][j] == 2) {
                        let currentElement = $(".battlefield__rival tr td.battlefield-cell .battlefield-cell-content[data-x='" +j + "'][data-y='" + i + "']");
                        SetStatusColor(currentElement.parent(), field[i][j]);
                    }
                }
            }
            YourTurn(currentTurn);
      });

        hubConnection.on("SetStatus", function (_newField,currentTurn) {
            let field = JSON.parse(_newField);//Get array[,]
            for (var i = 0; i < 10; i++) {
                for (var j = 0; j < 10; j++) {
                    if (field[i][j] == -1 || field[i][j] == 2) {
                        let currentElement = $(".battlefield__self tr td.battlefield-cell .battlefield-cell-content[data-x='" + j + "'][data-y='" + i + "']");
                        SetStatusColor(currentElement.parent(), field[i][j]);
                    }
                }
            }
            YourTurn(currentTurn);
        });
        hubConnection.on("StartGame", function (connectionId) {
            ReadyStart(true);
            YourTurn(false);
        });
        hubConnection.on("ChangeTurn", function (connectionId, YesOrNo) {
            YourTurn(YesOrNo);
        });

        document.getElementById("connectBtn").addEventListener("click", function (e) {
            hubConnection.invoke("Enter", _connectionId);
        });
        hubConnection.on("GetConnectionID", function (connectionID) {
            console.log("ID: " + connectionID);
        });
        hubConnection.start();
            window.onload = function () {
                @if (Model.ConnectionID!=null)
                {
                <text>
                _connectionId = @Model.ConnectionID;
                </text>
            }
            else
            {
                <text>
                _connectionId = getRandomConnectionID();
                </text>
            }

                let textBox = $("#connectionIDtxt");
                textBox.attr("value", changeurl(_connectionId));//changeurl and return new url to value TextBox
                textBox.attr("data-value", _connectionId);
            }
            //setTimeout(ConnectWithExistGroup, 500);//SetTimeout->For First ConnectHub... tick tack... Second->ConnectGroup

    </script>
</body>
</html>