@model DateViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Sea Battles</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top:50px">
        <div class="row">
            <div class="col-lg-4">
                <table class="battlefield-table">
                    <tbody>

                        @for (int i = 0; i < GameCore.Field.Size; i++)
                        {
                            <tr class="battlefield-row">
                                @for (int j = 0; j < GameCore.Field.Size; j++)
                                {
                                    if (Model.FunctionsGame.fieldPlayer.Plans[i, j] == 0)
                                    {
                                        <td class="battlefield-cell battlefield-cell__empty">
                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j"></div>
                                        </td>
                                    }
                                    else if (Model.FunctionsGame.fieldPlayer.Plans[i, j] == 1)
                                    {
                                        <td class="battlefield-cell battlefield-cell__busy">
                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j">
                                            </div>
                                        </td>
                                    }
                                }
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-lg-4" style="display:inline-block">
                <p style="text-align:center;font-size:20px;font-family:fantasy">Player 1 vs Player 2</p>
            </div>
            <div class="col-lg-4">
                <table class="battlefield-table">
                    <tbody>
                        @for (int i = 0; i < GameCore.Field.Size; i++)
                        {
                            <tr class="battlefield-row">
                                @for (int j = 0; j < GameCore.Field.Size; j++)
                                {
                                    if (Model.FunctionsGame.fieldViewEnemy.Plans[i, j] == 1)
                                    {
                                        <td class="battlefield-cell battlefield-cell__busy">
                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j"></div>
                                        </td>
                                    }
                                    else if (Model.FunctionsGame.fieldViewEnemy.Plans[i, j] == 0)
                                    {
                                        <td class="battlefield-cell battlefield-cell__empty" style="color:red">
                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j">
                                            </div>
                                        </td>
                                    }

                                }
                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>
        <div id="loginBlock">
            Ввойти в чат:<br />
            <input id="loginBtn" type="button" value="Войти" />
        </div><br />
        <div id="chatroom"></div>

    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script>
    //Connect hub (SIGNALR Core....)
        function changeurl(connectionID) {
            var new_url = "https://localhost:44392/?id=" + connectionID;
            window.history.pushState("data", "Title", new_url);
        }
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/seabattle")
            .build();
        // диагностическое сообщение
        hubConnection.on("Notify", function (message) {
            let elem = document.createElement("p");
            elem.appendChild(document.createTextNode(message));

            var firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);
        });
        // установка имени пользователя
        document.getElementById("loginBtn").addEventListener("click", function (e) {
            hubConnection.invoke("Enter", "");
        });
        hubConnection.on("GetConnectionID", function (connectionID) {
            console.log("ID: " + connectionID);
            changeurl(connectionID);
        });

        hubConnection.start();

        window.onload = function() {
            var _CurrentConnectionID = @Model.ConnectionID;
            console.log("ID:="+_CurrentConnectionID);
            if (_CurrentConnectionID != null) hubConnection.invoke("Enter", @Model.ConnectionID);
        };
    </script>
</body>
</html>