@model string
<!DOCTYPE html>
<html>
<head>
    <title>Sea Battle</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" />
    <link rel="stylesheet" asp-href-include="~/lib/jquery-UI/jquery-ui.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-UI/jquery-ui.min.js"></script>
    <script src="~/lib/sweatalern/sweetalert.min.js"></script>

</head>
<body>
    <div class="container-fluid" style="margin-top:50px">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3"><div class="notification none" style="text-align:center" id="notif_content"></div></div>
            <div class="col-md-4"></div>
        </div>
        <div class="welcome">
            <span class="welcome-text">Sea Battle</span>
            <img src="~/img/welcome.png" class="welcome-image" />
            <br />
            <input type="text" readonly id="connectionIDtxt" class="form-control" onclick="this.select();" /><br />
            <input type="radio" name="setting" value="random" checked> Random
            <input type="radio" name="setting" value="setup">Position your ships<br>
            <input type="button" value="Play" id="connectBtn" class="btn" />
        </div>
        <div class="row " id="maincontainer">
            <div class="col-lg-5 battlefield battlefield__self ">
                <div class="battlefield-gap none">
                    <table class="battlefield-table " style="float:left">
                        <tbody>
                            <tr>
                                <td></td>
                                @for (int i = 0; i < 10; i++)//1-10
                                {
                                    <td style="text-align:center">@Convert.ToChar(i + 65)</td>
                                }
                            </tr>
                            @for (int i = 0; i < GameCore.Field.Size; i++)
                            {
                                <tr class="battlefield-row">
                                    <td>@Convert.ToInt32(i + 1)</td>
                                    @for (int j = 0; j < GameCore.Field.Size; j++)
                                    {
                                        <td class="battlefield-cell battlefield-cell__empty">
                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j"><div></div></div>
                                        </td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
             <div class="battlefield-stat none">

                    <div class="ship-types">

                        <div class="ship-type ship-type__len_4">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_3">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_2">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

<<<<<<< HEAD
                <div class="port none">
=======
                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_1">

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

                @*<div class="port" style="margin-left:90px">
>>>>>>> 6e7cd7b443bdabeec31eeca3756d3dc37ca0b372


                    <div class="port-instruction">
                        Drag the ships to the grid, and then click to rotate:
                    </div>


                    <div class="port-lines">

                        <div class="port-line clearfix">

                            <div class="port-ship" style="width: 8em; height: 2em; padding-right: 3px; padding-bottom: 0px;">

                                <div data-id="NuyecnTgbyWS" data-length="4" data-position="h" class="ship-box" style="width: 8em; height: 2em; padding-right: 3px; padding-bottom: 0px;">
                                </div>
                            </div>
                        </div>

                        <div class="port-line clearfix">

                            <div class="port-ship" style="width: 6em; height: 2em; padding-right: 2px; padding-bottom: 0px;">

                                <div data-id="DQacxdk8S306" data-length="3" data-position="h" class="ship-box" style="width: 6em; height: 2em; padding-right: 2px; padding-bottom: 0px;">
                                </div>
                            </div>

                            <div class="port-ship" style="width: 6em; height: 2em; padding-right: 2px; padding-bottom: 0px;">

                                <div data-id="vuYhdOOlu8Ha" data-length="3" data-position="h" class="ship-box" style="width: 6em; height: 2em; padding-right: 2px; padding-bottom: 0px;">
                                </div>
                            </div>
                        </div>

                        <div class="port-line clearfix">

                            <div class="port-ship" style="width: 4em; height: 2em; padding-right: 1px; padding-bottom: 0px;">

                                <div data-id="3pQnwGHLD2i7" data-length="2" data-position="h" class="ship-box" style="width: 4em; height: 2em; padding-right: 1px; padding-bottom: 0px;">
                                </div>
                            </div>

                            <div class="port-ship" style="width: 4em; height: 2em; padding-right: 1px; padding-bottom: 0px;">

                                <div data-id="kTLMUvG3kEAD" data-length="2" data-position="h" class="ship-box" style="width: 4em; height: 2em; padding-right: 1px; padding-bottom: 0px;">
                                </div>
                            </div>

                            <div class="port-ship" style="width: 4em; height: 2em; padding-right: 1px; padding-bottom: 0px;">

                                <div data-id="FQjaOjjCnzzy" data-length="2" data-position="h" class="ship-box" style="width: 4em; height: 2em; padding-right: 1px; padding-bottom: 0px;">
                                </div>
                            </div>
                        </div>

                        <div class="port-line clearfix">

                            <div class="port-ship" style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;">

                                <div data-id="vN70k8K7tMLp" data-length="1" data-position="h" class="ship-box" style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;">
                                </div>
                            </div>

                            <div class="port-ship" style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;">

                                <div data-id="YnOWtWkwJ8Fg" data-length="1" data-position="h" class="ship-box" style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;">
                                </div>
                            </div>

                            <div class="port-ship" style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;">

                                <div data-id="D8FHSpNgdP7N" data-length="1" data-position="h" class="ship-box" style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;">
                                </div>
                            </div>

                            <div class="port-ship" style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;">

                                <div data-id="aIBApsKeZPdE" data-length="1" data-position="h" class="ship-box" style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="battlefield-stat none">

                    <div class="ship-types">

                        <div class="ship-type ship-type__len_4">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_3">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_2">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_1">

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 battlefield battlefield__rival battlefield__wait" id="enemy">
                <div class="battlefield-gap none">
                    <table class="battlefield-table" style="margin-right:105px;float:right">
                        <tbody>
                            <tr>
                                <td></td>
                                @for (int i = 0; i < 10; i++)//1-10
                                {
                                    <td style="text-align:center">@Convert.ToChar(i + 65)</td>
                                }
                            </tr>
                            @for (int i = 0; i < GameCore.Field.Size; i++)
                            {
                                <tr class="battlefield-row">
                                    <td>@Convert.ToInt32(i + 1)</td>
                                    @for (int j = 0; j < GameCore.Field.Size; j++)
                                    {

                                        <td class="battlefield-cell battlefield-cell__empty">
                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j"><div class=""></div></div>
                                        </td>


                                    }
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
                <div class="battlefield-stat none">

                    <div class="ship-types">

                        <div class="ship-type ship-type__len_4">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_3">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_2">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_1">

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="~/lib/signalr/signalr.min.js"></script>

        <script src="~/js/site.js"></script><!-- Connect site.js (functions)-->
        <script>
       var _connectionId;
            window.onload = function () {
            @if (Model != null)
            {
<text>
                   _connectionId = @Model;
                 </text>
            }
            else
            {
<text>
                    _connectionId = getRandomConnectionID();
                </text>
            }

            
            let textBox = $("#connectionIDtxt");
            textBox.attr("value", changeurl(_connectionId));
            textBox.attr("data-value", _connectionId);
            }

            var canSet = false;
            var x = -1, y = -1, oldId;
                var Ox = {};
                var Oy = {};




        </script>


        <script src="~/js/Hub.js"></script> <!--Connect hub (SIGNALR Core....)-->
</body>
</html>
