@model MainFunctionsGame
<!DOCTYPE html>
<html>
<head>
    <title>Sea Battles</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top:50px">
        <div class="row">
            <div class="col-lg-4">
                <table class="battlefield-table" >
                    <tbody>

                        @for (int i = 0; i < GameCore.Field.Size; i++)
                        {
                            <tr class="battlefield-row">
                                @for (int j = 0; j < GameCore.Field.Size; j++)
                                {
                                    if (Model.fieldPlayer.Plans[i, j] == 0)
                                    {
                                        <td class="battlefield-cell battlefield-cell__empty">

                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j"></div>
                                        </td>
                                    }
                                    else if (Model.fieldPlayer.Plans[i, j] == 1)
                                    {
                                        <td class="battlefield-cell battlefield-cell__busy">

                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j">

                                            </div>
                                        </td>
                                    }

                                }
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <div class="col-lg-4" style="display:inline-block">
                <p style="text-align:center;font-size:20px;font-family:fantasy">Player 1 vs Player 2</p>
            </div>
            <div class="col-lg-4">
                <table class="battlefield-table" >
                    <tbody>

                        @for (int i = 0; i < GameCore.Field.Size; i++)
                        {
                            <tr class="battlefield-row">
                                @for (int j = 0; j < GameCore.Field.Size; j++)
                                {
                                    if (Model.fieldViewEnemy.Plans[i, j] == 0)
                                    {
                                        <td class="battlefield-cell battlefield-cell__empty">

                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j"></div>
                                        </td>
                                    }
                                    else if (Model.fieldViewEnemy.Plans[i, j] == 1)
                                    {
                                        <td class="battlefield-cell battlefield-cell__empty" style="color:red">

                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j">

                                            </div>
                                        </td>
                                    }

                                }
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script>
        var x = $('.battlefield-cell-content').data('y');
        if (x) {

        }

    </script>
</body>
</html>