@model string
<!DOCTYPE html>
<html>
<head>
    <title>Sea Battle</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid" style="margin-top:50px">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3"><div class="notification none" style="text-align:center" id="notif_content"></div></div>
            <div class="col-md-4"></div>
        </div>
        <div class="welcome">
            <span class="welcome-text">Sea Battle</span>
            <img src="~/img/welcome.png" class="welcome-image" />
            <br />
            <input type="text" readonly id="connectionIDtxt" class="form-control" onclick="this.select();" /><br />
            <input type="button" value="Play" id="connectBtn" class="btn" />
        </div>
        <div class="row none" id="maincontainer">
            <div class="col-lg-5 battlefield battlefield__self battlefield__wait">
                <div class="battlefield-gap">
                    <table class="battlefield-table" style="margin-left:105px;float:left">
                        <tbody>

                            <tr>
                                <td></td>
                                @for (int i = 0; i < 10; i++)//1-10
                                {
                                    <td style="text-align:center">@Convert.ToChar(i + 65)</td>
                                }
                            </tr>
                            @for (int i = 0; i < GameCore.Field.Size; i++)
                            {

                                <tr class="battlefield-row">
                                    <td>@Convert.ToInt32(i + 1)</td>
                                    @for (int j = 0; j < GameCore.Field.Size; j++)
                                    {
                                        <td class="battlefield-cell battlefield-cell__empty">
                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j"><div></div></div>
                                        </td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

                <div class="battlefield-stat none">

                    <div class="ship-types">

                        <div class="ship-type ship-type__len_4">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_3">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_2">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_1">

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 battlefield battlefield__rival battlefield__wait" id="enemy">
                <div class="battlefield-gap">
                    <table class="battlefield-table" style="margin-right:105px;float:right">
                        <tbody>
                            <tr>
                                <td></td>
                                @for (int i = 0; i < 10; i++)//1-10
                                {
                                    <td style="text-align:center">@Convert.ToChar(i + 65)</td>
                                }
                            </tr>
                            @for (int i = 0; i < GameCore.Field.Size; i++)
                            {
                                <tr class="battlefield-row">
                                    <td>@Convert.ToInt32(i + 1)</td>
                                    @for (int j = 0; j < GameCore.Field.Size; j++)
                                    {

                                        <td class="battlefield-cell battlefield-cell__empty">
                                            <div class="battlefield-cell-content" data-y="@i" data-x="@j"><div class=""></div></div>
                                        </td>


                                    }
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
                <div class="battlefield-stat none">

                    <div class="ship-types">

                        <div class="ship-type ship-type__len_4">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_3">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_2">

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>

                        <div class="ship-type ship-type__len_1">

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>

                            <span class="ship">

                                <span class="ship-part">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/js/Hub.js"></script> <!--Connect hub (SIGNALR Core....)-->
        <script src="~/js/site.js"></script><!-- Connect site.js (functions)-->
        <script>

        //TODO CHANGE ALL JS SHITS IN JQUERY
        var _connectionId;
            window.onload = function () {
            @if (Model != null) {
                <text>
                    _connectionId = @Model;
                 </text>
            }
            else {
                <text>
                    _connectionId = getRandomConnectionID();
                </text>
            }

            let textBox = $("#connectionIDtxt");
            textBox.attr("value", changeurl(_connectionId));//changeurl and return new url to value TextBox
            textBox.attr("data-value", _connectionId);
            }
         
     
        </script>
</body>
</html>